<html>
    <div th:fragment="header">
        <title th:text="#{exchange.name}"></title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="No-Cache">
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Add -->
        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/import.min.css">
        <link rel="shortcut icon" href="assets/img/favicon.ico">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/dashboard/css/sweet-alert.css" type="text/css" />
        <link rel="stylesheet" href="assets/dashboard/css2/chartist.min.css" type="text/css" />
        <link rel="stylesheet" href="assets/dashboard/css/components.css" type="text/css" />
    </div>
</html>