/*=============================================*/
/* Page title */
/*=============================================*/
.breadcrumb {
    background-color: transparent;
	display: inline-flex;
    text-align: center;
    font-size: 13px;
}
#page-title {
	
}